.login-linkToSignup, .signup-linkToLogin {
    margin-left: 12px;
}

.tenant-search-input{
    padding-left: 40px;
    border-radius: 90px;
    
}

.tenant-filter-box{
    margin: 8px;
}

.tenant-filter-button{
    background: transparent;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: 5px;
    
}

.tenant-filter-button img{
    width: 20px;
    height: 20px;
}

.p-tenants, .p-messages, .p-issues{
    display: flex;
    flex-direction: column;
}
.add-tenant-btn, .new-message-btn{
    width: 10rem;
    align-self: flex-end;
    margin: 8px;
}

.tenants-list{
    border: solid black 1px;
    border-radius: 0;
    
}

.tenant-details{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: solid black 1px;
}

.close{
    display:none;
}

.tenant-changes-btn{
    width: 10rem;
    align-self: flex-end;
    margin: 20px;
}

.tenant-changes-btn, .message-details-btn > button{
    margin-left: 5px;
}

.add-tenant-modal {
    position: absolute;
    z-index: 2;
    justify-self: center;
    align-self: center;
    width: 50rem;
}

.new-message-modal {
    position: absolute;
    z-index: 2;
    justify-self: center;
    align-self: center;
    width: 50rem;
}

.message-filter-input {
    padding-left: 40px;
    border-radius: 90px;
}

.messages-filter-sort, .messages-list{
    margin-top: 15px;
}

.messages-list-items {
    border: solid rgb(87, 86, 86) 1px;
}
.message-details{
    display: flex;
    padding: 8px;
    border: solid rgb(87, 86, 86) 1px;
    
}

.message-details label {
    width: 70px;
}

.message-img {
    width: 200px;
    height:200px;
    border: solid 1px;
    margin: 10px;
}
.message-img img {
    width: 100%
}

.message-info {
    padding: 20px;
    width: 30rem;
}

.tenants-comments {
    border-left: 1px solid rgb(87, 86, 86);
    padding-left: 20px;
}

.message-details-btn {
    align-self: flex-end;
    margin-left: 10px;
}

